@charset "utf-8";

.post-title {
  text-align: center;
}

.post-author {
  display: none;
}

.post-content p {
  line-height: 20px;
}

.post-content img {
  display: block;
  margin: 10px auto;
}

.post-info {
  line-height: 24px;
  margin: 10px 0;
}

.post-category, .post-tag {
  margin: 0 5px;
}

.post-content {
    a {
        color: #178582;
        text-decoration: none;
    }

    a:hover {
        color: #1FB5B9;
        text-decoration: underline;
    }

    a:visited {
        color: #0A1828;
    }
}

