<!DOCTYPE html>
<html lang="{{ site.language }}">
<head>
  {% include head.html %}
</head>
<body>
  <script src="https://cdn.jsdelivr.net/npm/mermaid/dist/mermaid.min.js"></script>
  <script>
    document.addEventListener("DOMContentLoaded", function() {
      mermaid.initialize({
        startOnLoad: true,
        theme: 'default'
      });
      document.querySelectorAll('.language-mermaid').forEach(element => {
        element.classList.add('mermaid');
      });
    });
  </script>
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-PWQBFPSZZ2"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'G-PWQBFPSZZ2');
  </script>
  <div class="container-wrapper">
    <header class="container-header">
      {% include header.html %}
    </header>
    <main class="container-main">
      {{content}}
    </main>
    <footer class="container-footer">
      {% include footer.html %}
    </footer>
  </div>
</body>
</html>
